<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.ueditor.mapper.HelpInfoMapper" >
  <resultMap id="BaseResultMap" type="com.test.ueditor.model.HelpInfo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.test.ueditor.model.HelpInfo" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, MENU_ID, UPDATE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HELP_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectByMenuId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HELP_INFO
    where MENU_ID = #{menuId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from HELP_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.test.ueditor.model.HelpInfo" >
    insert into HELP_INFO (ID, CREATE_TIME, MENU_ID, 
      UPDATE_TIME, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{menuId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.test.ueditor.model.HelpInfo" >
    insert into HELP_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.ueditor.model.HelpInfo" >
    update HELP_INFO
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.ueditor.model.HelpInfo" >
    update HELP_INFO
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MENU_ID = #{menuId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.ueditor.model.HelpInfo" >
    update HELP_INFO
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MENU_ID = #{menuId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>